<a href="https://colab.research.google.com/github/scaleracademy/dsml-jun-22-beginner-intermediate/blob/main/OOP_21st_September.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  pass

s1 = Student()
print(s1)

<__main__.Student object at 0x7fe18b92d390>

In [ ]:
print(s1.age)

AttributeError: ignored

- no attribute age for ths object:

let's define some attributes:

### Attribute: Property that defines the object

let's define some attributes for our s1 object:

In [ ]:
s1.age = 20
s1.name = 'zaheer'
print(s1.name, s1.age)

zaheer 20

In [ ]:
s2 = Student()
s2.age = 30
s2.name = 'Rajat'
print(s2.age)

30

In [ ]:
print(s1.name, s1.age)

zaheer 20

In [ ]:
print(s2.name, s2.age)

Rajat 30

In [ ]:
print(id(s1))
print(id(s2))

140606686024592
140606686027344

In [ ]:
print(id(s1.name))

s1.name = 'Rajat Singh'
print(s1.name)

140606756204464
Rajat Singh

We can define an object as dictionary as well:

In [ ]:
s1 = {'name': 'rajat', 'age':20}
s2 = {'name': 'Zaheer', 'age':30}
print(s1['name'])

So why are we creating class. 
let's dive deeper and understand this:

### `__INIT__`: Initializer

In [ ]:
class Student:
  def __init__(self, name ,age):
    self.name = name
    self.age =age


s1 = Student("Rajat", 30)

class Student:
  def __init__(self, name ,age):  ## initializer
    self.name = name
    self.age = age

  def get_memory_location(self):   # method  
    print(id(self))

  


s1 = Student("Rajat", 30)
print(s1.name)

Rajat

### initilizer helps us set a set of attibutes which every object of the class must have.

Above example:
Every object of student class must have name and age

#### What is self here? 
SELF is a reference to the calling object

In [ ]:
s1.get_memory_location()

140606686059088

In [ ]:
print(id(s1))

140606686059088

as you can see both self and s1 has same memory location indicating that they are same.

so python automatically passes the calling object into method as first argument.

Standard practice is to use self, but you can name it anything.

In [ ]:
s2 = Student("Zaheer", 30)
print(s2.name)

Zaheer

In [ ]:
class Student:
  def __init__(self, name ,age):
    self.name = name
    self.age =age


s1 = Student("Rajat", 30)

class Student:
  def __init__(self, name ,age):  ## initializer
    self.name = name
    self.age = age

  def get_memory_location(self):   # method  
    print(id(self))

  def print_age(self):
    print(self.age)
    # s1.age

  


s1 = Student("Rajat", 30)
print(s1.name)

Rajat

In [ ]:
s1.print_age()

30

In [ ]:
s2 = Student("Zaher", 20)
s2.print_age()

20

In [ ]:
class Student:
  def __init__(self, name ,age):
    self.name = name
    self.age =age


s1 = Student("Rajat", 30)

class Student:
  def __init__(self, name ,age):  ## initializer
    self.name = name
    self.age = age

  def get_memory_location(self):   # method  
    print(id(self))

  


s1 = Student("Rajat", 30)
print(s1.name)

Rajat

In [ ]:
class Customer:

  def pay_bill(self):
    print("memory location",id(self))
    print(self)
    print("Paid: ",self.bill)

c1 = Customer()
c1.bill= 150
# self will store the object 
c1.pay_bill()

memory location 140606686073744
<__main__.Customer object at 0x7fe18b939390>
Paid:  150

In [ ]:
print(c1)

<__main__.Customer object at 0x7fe18b939390>

In [ ]:
id(c1)

140606686073744

In [ ]:
c2 = Customer()
c2.pay_bill()

memory location 140606686065488
<__main__.Customer object at 0x7fe18b937350>

AttributeError: ignored

In [ ]:
print(id(c2))

140606686065488

- self stores the object that is invoking the method

In [ ]:
class Customer:

  def __init__(self,bill, customer_name):
     self.bill = bill
     self.name = customer_name

  def pay_bill(self):
    print("Paid: ",self.bill)

c1=Customer(300, "shashank")
print(c1.bill, c1.name)

300 shashank

In [ ]:
c2= Customer(400, 'rahul')

Question: Repeat init:

`__init__`: it declares common attributes which every instance of a class must have.

In [ ]:
class Customer:

  def __init__(self,bill, customer_name, age):
     self.bill = bill
     self.name = customer_name
     self.age =age

  def pay_bill(self):
    print("Paid: ",self.bill)

c1=Customer(300, "shashank" , 30)

print(c1.bill, c1.name, c1.age)

300 shashank 30

In [ ]:
c2=Customer(400, "Sachin",  31)
print(c2.bill, c2.name)

400 Sachin

In [ ]:
c2.age = 40
print(c2.age)

40

### Class Variable:

A varible whose value is shared across all the objects of the class:

In [ ]:
class Student:
  batch_name = 'June22' # class variable
  
  def __init__(self, name, age):
    self.name = name
    self.age =age

s1 = Student("Chayan", 30)
print(s1.name)

Chayan

In [ ]:
print(s1.batch_name)

June22

In [ ]:
s2 = Student("Needa", 20)
print(s2.name)

Needa

In [ ]:
print(s2.batch_name)

June22

#### Q: What if i update class variable?

In [ ]:
# classname.variable
Student.batch_name = "May22"

In [ ]:
print(s2.batch_name)

May22

In [ ]:
print(s1.batch_name)

May22

- changes would be reflected in all objects.

#### Q: What if i create/update class variable using object instead of calss

In [ ]:
s1.batch_name = 'June22'

In [ ]:
print(s1.name, s1.batch_name)

Chayan June22

In [ ]:
print(s2.name,s2.batch_name)

Needa May22

- a new instance variable will be created belonging to only the object that tried to update the attribute

In [ ]:
Student.batch_name

Things we convered so far:
- __init__
- self
- class variable


### LET"s Launch some quizzes to test our understanding:

In [ ]:
class Student:
  batch = 'June22'
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")


p2=Student("Chayan")
p2.batch = 'July22'


print(Student.batch, p1.batch, p2.batch)

June22 June22 July22

if class_variable and instance_variable both have same attribute_name, accessing using object would get instance variable

In [ ]:
### Quiz 3:
class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    print(self.name)
p1=Student("Priyanka")
print(p1.get_person_name())

Priyanka
None

In [ ]:
a = p1.get_person_name()
print('a',a)

Priyanka
a None

In [ ]:
### Quiz 3:
class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    return self.name
p1=Student("Mohammad")

print(p1.get_person_name(), p1.name)

Mohammad Mohammad

In [ ]:
p1.name = 'Mohamed' 
print(p1.get_person_name(), p1.name)

Mohamed Mohamed

In [ ]:
### Quiz 3:
class Student:
  batch_name = 'jun22'
  institute = 'scaler'
  def __init__(self, name, salary):
    self.name = name         
    self.salary = salary
     
  def get_person_name(self):
    return self


p1=Student("Mohammad", 2000)
p1.age = 20
p1.get_person_name(2000)

2000

In [ ]:
p1.salary

AttributeError: ignored

In [ ]:
### Quiz 2 :
class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    
p1 = Student("Manju")
p2 = Student("Chandan")
p2.age = 30
print(p1.get_person_name(), p2.get_person_name())

Manju Chandan

In [ ]:
print(p2.__dict__)

{'name': 'Chandan'}

In [ ]:
a = 10

### Question:
create a class to represent a food order charge in Zomato with following attrubutes:


- class Name: FoodOrder
- class_variable
  - base_charge, value = 20 (represents the minimum fixed base charge on every order)
- Instance Variables:
  - delivery_agent_name: name of delivery person to be assigned
  - distance: Distance of restaurant from destination

- method:
  - calculate_final_bill: Used for calculating the total bill amount
  - logic: 
    - for first 3 kms 5 rs per km:
    - for next between 2 km: 10 rs per km 
    - for remaining km: 20 rs per km

  add base-charge defined as class variable and return final bill

In [ ]:
### Quiz 3:
class Student:
  def __init__(self, name, age):
    self.name = age  

  def get_person_name(self):
    print(self.name)
p1=Student(name="Priyanka" , age= 20)

In [ ]:
p1.name

20

#### Solution

In [ ]:
class FoodOrder:
  base_charge = 20

  def __init__(self, agent_name, distance):
    self.agent_name = agent_name
    self.distance=distance

  def calculate_final_bill(self):
    if self.distance<=3:
      final_bill = distance*5
    elif self.distance>=3 and self.distance<=5:
      final_bill = 3*5 + (self.distance-3)*10
    else:
      final_bill = 3*5 + 2*10 +(self.distance-5)*20

    return final_bill+FoodOrder.base_charge



order1= FoodOrder("Jacob", 15)
order1.calculate_final_bill()

255