## Problem Solving - 3

### OOPS Quizzes + Problem Solving

#### Quiz - 1

In [2]:
class Student:
    def __init__(random, id, age):
        random.id = id
        random.age = age

s1 = Student(1, 5000)

In [3]:
print(s1.id)

1

In [4]:
class Student:
    def study(self, time):
        print(f'{self.name} is studying for {time} hours!')

In [7]:
s = Student()
s.name = 'Pratik'
s.study(5)

Pratik is studying for 5 hours!

#### Quiz - 2

In [9]:
class A:
    def __init__(self, name):
        self.name = name
    
a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))
print(id(a1))
print(id(a2))

False
140392013646864
140392013645568

#### Quiz - 3

In [10]:
class Random:
    def __init__(self, a = "Is it possible?"):
        self.a = a
 
    def display(self):
        print(self.a)
        
r = Random()
r.display()

Is it possible?

In [11]:
r2 = Random("Hello world")
r2.display()

Hello world

#### Quiz - 4

In [12]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)
        
    def update(self, var):
        var = 'New'
        
a = A()
print(a.variable)

Old

In [15]:
a.update('New')
print(a.variable)

Old

In [13]:
print(var)

NameError: name 'var' is not defined

In [14]:
print(a.var)

AttributeError: 'A' object has no attribute 'var'

#### What if I do this?

In [18]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)
        
    def update(self, var):
        self.variable = 'New'
        
a = A()
print(a.variable)

New

#### Quiz - 5

### Method Resolution Order

In [21]:
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    pass

b = B()
b.do_something()

I do something!

In [27]:
class A:
    def do_something(self):
        print("I do something!")
        
    def do_nothing(self):
        print("I do nothing")

class B(A):
    def do_something(self):
        print("I do something else!")

b = B()
b.do_something()

I do something else!

In [26]:
B.__mro__

(__main__.B, __main__.A, object)

In [28]:
b.do_nothing()

I do nothing

In [29]:
b.__str__

### args (special argument)

In [40]:
# we want to pass variable number of arguments
# 0, 1, 2, 3, 4, etc. etc as many as you want

def sum_number(x, y):
    result = x + y
    return result

In [41]:
sum_number(3, 4)

7

In [42]:
sum_number(1)

TypeError: sum_number() missing 1 required positional argument: 'y'

In [43]:
sum_number(1, 2, 3)

TypeError: sum_number() takes 2 positional arguments but 3 were given

### working now

In [76]:
# we want to pass variable number of arguments
# 0, 1, 2, 3, 4, etc. etc as many as you want

# what this star does => tells Python to pack all the upcoming arguments 
# in a tuple
def sum_number(x, y, *args):
    print(args) # a tuple
    result = x + y
#     result += sum(args)
    for z in args:
        result += z
    return result

In [77]:
sum_number(1, 2, 3, 4, 5)

(3, 4, 5)

15

In [78]:
sum_number(1, 2)

()

3

In [79]:
sum_number(1, 2, 10)

(10,)

13

## kwargs

In [82]:
def create_person(name, age, gender):
    person = {
        'name': name,
        'age': age,
        'gender': gender
    }
    return person

In [83]:
p1 = create_person("Anwesh", 25, 'M')

In [84]:
print(p1)

{'name': 'Anwesh', 'age': 25, 'gender': 'M'}

In [86]:
# keyword arguments
p1 = create_person(name = "Anwesh", age = 25, gender = 'M')

In [87]:
print(p1)

{'name': 'Anwesh', 'age': 25, 'gender': 'M'}

In [89]:
p2 = create_person(name = "Anwesh", gender = 'M', age = 35)

In [90]:
print(p2)

{'name': 'Anwesh', 'age': 35, 'gender': 'M'}

In [91]:
p2 = create_person(name = "Anwesh", gender = 'M', age = 35, color = 'red',
                  hobby = "chess")

TypeError: create_person() got an unexpected keyword argument 'color'

In [92]:
def create_person(name, age, gender, *args):
    person = {
        'name': name,
        'age': age,
        'gender': gender
    }
    return person

In [93]:
p2 = create_person(name = "Anwesh", gender = 'M', age = 35, color = 'red',
                  hobby = "chess")

TypeError: create_person() got an unexpected keyword argument 'color'

In [94]:
 p2 = create_person(name = "Anwesh", gender = 'M', age = 35, "red", 95, 2.44, 1+3j)

SyntaxError: positional argument follows keyword argument (181426514.py, line 1)

In [96]:
p3 = create_person("Anwesh", 25, 'M', 'red', 95, 3.45, 2+3j)

In [97]:
print(p3)

{'name': 'Anwesh', 'age': 25, 'gender': 'M'}

### **kwargs for variable keyworded arguments

In [101]:
def create_person(name, age, gender, **extra_info):
    print(extra_info)
    person = {
        'name': name,
        'age': age,
        'gender': gender
    }
    person.update(extra_info)
    return person

In [102]:
p2 = create_person(name = "Anwesh", gender = 'M', age = 35,
                   color = 'red', hobby = "chess")

{'color': 'red', 'hobby': 'chess'}

In [103]:
print(p2)

{'name': 'Anwesh', 'age': 35, 'gender': 'M', 'color': 'red', 'hobby': 'chess'}

#### Quiz - 6

In [113]:
def print_stats(name, **info):
    print(name, 'is:')
    for key, value in info.items():
        print(f'{key}: {value}')

In [114]:
print_stats(age=10, gender=m)

NameError: name 'm' is not defined

In [115]:
print_stats('John', age=10, gender=m)

NameError: name 'm' is not defined

In [116]:
print_stats('John', age=10, gender='m')

John is:
age: 10
gender: m

## Problems on FP with Quizzes

#### Quiz 7

In [124]:
my_list = ['banana', 'mango', 'guava']
# sorted_list = [‘banana’,’guava’,’mango’]

def sort_strings(str_list):
#     sorted_list = ___A___

    return sorted_list

In [127]:
# OPTION A: sorted(str_list, key=lambda x: x.count('a'), reverse=True)

# descending order
sorted(my_list, key=lambda x: x.count('a'), reverse=True)

['banana', 'guava', 'mango']

In [128]:
# ascending order
sorted(my_list, key=lambda x: x.count('a'))

['mango', 'guava', 'banana']

In [130]:
# OPTION B: sorted(str_list, key=x.count('a'), reverse=True)
sorted(my_list, key=x.count('a'), reverse=True)

NameError: name 'x' is not defined

In [132]:
# OPTION : C sorted(str_list, key=lambda x: for ‘a’ in x, reverse=True)
sorted(my_list, key=lambda x: for 'a' in x, reverse=True)

SyntaxError: invalid syntax (1600943995.py, line 2)

In [121]:
# None of the Above

In [122]:
'banana'.count('a')

3

#### Quiz - 8

In [135]:
words = ["mary", "had", "a", "little", "lamb"]
# biggestWord = _____A__________
# print(biggestWord

In [138]:
from functools import reduce
reduce(lambda x, y: x if len(x) > len(y) else y, words)

'little'

In [139]:
reduce(lambda x, y: x if len(x) > len(y), words)

SyntaxError: invalid syntax (3160602644.py, line 1)

In [133]:
# map(lambda x, y: x if len(x) > len(y) else y, words)

In [141]:
list(map(lambda x, y: x if len(x) > len(y) else y, words))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [142]:
list(map(lambda x: len(x), words))

[4, 3, 1, 6, 4]

### Additional Problems on FP

### Q9.

In [146]:
a = [["a", 6], ["b", 1], ["c", 4], ["d", 9], ['e', 5]]

# find the maximum number in this nested list
# in all the list, 1st element is a character/string, 2nd element is int

max(a)

['e', 5]

In [147]:
max?

In [148]:
max(a, key = lambda x : x[0])

['e', 5]

In [150]:
# max 2nd element in the nested lists
max(a, key = lambda x : x[1])

['d', 9]

In [153]:
res = max(a, key = lambda x : x[1])[1]
print(res)

9

In [154]:
from functools import reduce

a = [["a", 6], ["b", 1], ["c", 4], ["d", 9], ['e', 5]]

res = reduce(lambda x, y: x if x[1] > y[1] else y, a)

In [155]:
print(res)

['d', 9]

In [156]:
res = res[-1]
print(res)

9

In [145]:
a = [["a", 6], ["b", 1], ["c", 4], ["d", 9], [10, 5]]

# HW : find the maximum number in this nested list

### Q10

In [157]:
lst = [10, 20, 4, 45, 99]
# find the 2nd maximum element using functional programming

In [158]:
max1 = max(lst)
print(max1)

99

In [159]:
mini = min(lst)
print(mini)

4

In [160]:
max2 = max(lst, key = lambda x: mini if (x == max1) else x)

print(max2)

45

In [162]:
print(lst) # not at all changed

[10, 20, 4, 45, 99]

## Doubts / QnA / Assignment HW Problems

In [166]:
a = [["a", 6], ["b", 1], ["c", 4], ["d", 9], [10, 5]]


res_list = max(a, key = lambda x: max(x[0], x[1]) if isinstance(x[0], int) and
                                          isinstance(x[1], int)
                      else x[1])

In [167]:
print(res_list)
print(max(res_list))

[10, 5]
10

In [164]:
max('a', 6)

TypeError: '>' not supported between instances of 'int' and 'str'

In [172]:
class Matrix:
    # Define properties here
    
    
    # Define constructor here
    def __init__(self, r, c):
        self.rows = r
        self.columns = c

    def input(self):
        # Complete the function
        self.data = []
        for _ in range(self.rows):
            cur_list = list(map(int, input().split()))
            self.data.append(cur_list)
        # [[1, 2, 3], [4, 5, 6]]
    
    def add(self, x):
        # Complete the function
        res = Matrix(self.rows, self.columns)
        res.data = []
        for i in range(self.rows):
            cur_list = []
            for j in range(self.columns):
                cur_list.append(x.data[i][j] + self.data[i][j])
            res.data.append(cur_list)
        return res
        
    def subtract(self, x):
        # Complete the function
        pass
    
    
    def transpose(self):
        # Complete the function
        pass
    
    
    def print(self):
        # Complete the function
        print('Printing the result:')
        for i in range(self.rows):
            for j in range(self.columns):
                print(self.data[i][j], end=' ')
            print()
        
a = Matrix(2, 3)
a.input() 
b = Matrix(2, 3)
b.input()
c1 = a.add(b)
c1.print()
# Matrix c2 = a.subtract(b)
# Matrix c3 = a.transpose()
# a.print()

1 2 3
4 5 6
0 0 0
1 1 1
Printing the result:
1 2 3
5 6 7

In [173]:
def f(x, y):
    print(x)
    print(y)

In [174]:
f(1 + 3j, 57.2)

(1+3j)
57.2

In [175]:
print(1 + 3j)

(1+3j)

In [176]:
c1 = 1 + 3j
c2 = 5 - 5j
print(c1 + c2)

(6-2j)

In [177]:
def sort_strings(str_list):
    # return the sorted list of strings on the basis of criteria mentioned
    res = sorted(str_list)
    res = sorted(res, key = lambda x: len(x))
    return res

In [178]:
sort_strings(["aaa", "ddd", "ccc", "bbb", "abcd"])

['aaa', 'bbb', 'ccc', 'ddd', 'abcd']